.Skills {
    min-height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @media screen and (max-width: 1025px) {
        min-height: 40vh;
    }

    ul {
        list-style-type: none;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 420px) {
                flex-direction: column;
                margin-top: 2rem;
            }
        }
    }

    &-name {
        position: relative;
        margin-right: 1rem;
        font-size: 3rem;
        right: -2500px;
        @media screen and (max-width: 420px) {
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }

}

.animate-left {
    animation: fromRight 0.5s linear forwards;
}

@keyframes fromRight {
    from { 
        right: -2500px;
    } 
    to {
        right: 0;
    }
}