.ViewMore {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 3;
    @media screen and (max-width: 420px) {
        bottom: 30px;
    }

    span {
        margin-bottom: 0.5rem;
    }

    &-icon {
        position: relative;
        animation: upDown 1s linear infinite alternate;
    }

    &:hover {
        transform: translateX(-50%) scale(1.1);
    }
}

@keyframes upDown {
    from {
        top: 0;
    }
    to {
        top: 15px;
    }
}