.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    // height: 80vh;

    &-showcase {

        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;

        perspective: 1500px;
        transform-style: preserve-3d;

        .showcase-item {
            position: relative;
            width: 50%;
            overflow: hidden;
            cursor: pointer;
            box-shadow: 3px 3px 9px rgb(63, 61, 61);
            transform: rotateX(45deg);
            transition: all 1s;

            .img-container {
                width: 100%;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #f1f1f1;
                    opacity: 0.9;
                    transition: all 1s;

                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

            }


            &:hover {

                transform: rotateX(0deg);

                .img-container::before {
                    opacity: 0;
                }


            }


        }



    }
}