.Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        position: relative;
        margin-top: 5rem;

        &::before {
            content: '';
            position: absolute;
            top: 2.5rem;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 40%;
            background: rgb(124,97,187);
            background: linear-gradient(333deg, rgba(124,97,187,1) 0%, rgba(96,63,203,1) 58%, rgba(149,135,191,1) 100%);
        }
    }

    .container {
        margin: 7rem 0 10rem;
    }

}