$textColor: white;

.Footer {
    width: 100%;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    color: $textColor;
    box-sizing: border-box;
    background: rgb(124,97,187);
    background: linear-gradient(333deg, rgba(124,97,187,1) 0%, rgba(96,63,203,1) 58%, rgba(149,135,191,1) 100%);

    @media screen and (max-width: 770px) {
        padding: 1rem;
    }
    @media screen and (max-width: 420px) {
        padding: 1rem;
    }

    .info-container {
        display: flex;
        list-style-type: none;
        width: 50%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        font-size: 2rem;

        @media screen and (max-width: 1025px) {
            width: 80%;
        }
        @media screen and (max-width: 770px) {
            width: 100%;
        }
        @media screen and (max-width: 420px) {
            width: 100%;
            flex-direction: column;
        }

        li {
            margin: 1rem;
            transition: all 1s;
            @media screen and (max-width: 770px) {
                margin: 1rem 0.5rem 0 0;
            }
            @media screen and (max-width: 420px) {
                margin: 0rem;
                margin-top: 1rem;
                font-size: 1.4rem;
            }

            a {
                color: $textColor;
            }

            &:hover {
                transform: scale(1.1);
                opacity: 0.8;
            }
        }
        

    }

    p {
        margin: 1rem 1rem 1.5rem;
    }


    .social {
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;

        a {
            transition: all 1s;
            color: $textColor;


            &:hover {
                transform: scale(1.2);
                opacity: 0.8;
            }
        }

    }    
    
    &.fade-footer-in {
        animation: 1s linear forwards fadeFooterIn;
    }

}

@keyframes fadeFooterIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}