.Footer {
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 4rem;
    text-align: center;


    .info-container {
        display: flex;
        list-style-type: none;
        width: 50%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        font-size: 2rem;

        li {
            margin: 1rem;
        }
    }

    p {
        margin: 1.5rem;
    }

    .social {
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;

    }

}